#NOTE: THE .ENV FILE SHOULD BE INCLUDED BUT I HAVE OMMITED IT FOR PORTABILITY SO ANYONE CAN CLONE AND RUN THIS PROJECT
# General
.DS_Store
.AppleDouble
.LSOverride

# NodeJS specific #
coverage/
node_modules/
npm-debug.log
package-lock.json
test/*.log
#.env
build